.puzzle {

  &__container {
    width: 100%;
    max-width: em(350);
    aspect-ratio: 340/410;

    @include desktop {
      max-width: em(340);
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: em(10);
  }

  &__piece {
    aspect-ratio: 1/1;
    border: 1px solid $color-dark-gray;
  }
}