.puzzle {

  &__container {
    width: 100%;
    max-width: $puzzle-max-width-mobile;
    aspect-ratio: 340/410;

    @include tablet {
      max-width: $puzzle-max-width-desktop;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2.94%;
  }

  &__piece {
    aspect-ratio: 1/1;
    border: 1px solid $color-dark-gray;
  }
}